<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/blog.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class = "nav -wrapper">
                    <a href = "#" class = "brand-logo">Blog</a>
                    <ul class="right">
                        <li><a href = "index.html">Home</a></li>
                        <li><a href = "admin2.html">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class = "container">
                <div class="row">
                    <h1 class="center-align"></h1> 
                </div>
                <div class="row">
                    <div class="col s12 main-container">

                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer" style="background-color: #0091ea">
            <div class="container">
                <p><a href="#">back to top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Celeste
                </div>
            </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/admin3.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>

        <script id="login-template" type="text/x-handlebars-template">
            <div class="col s6">
            <h2 class="center-align">Login</h2>
            <div>
            <form class="col s12 form-signin">
            <div class="row">
            <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Email</label>
            </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
            </div>
            </div>
            <div class="row">
            <div class="col s12">
            <p class="right-align">
            <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
            </p>
            </div>
            </div>
            </form>
            </div>
            </div>
        </script>
        <script id="welcome-template" type="text/x-handlebars-template">
            <h2>Welcome, {{email}}</h2>
            <button class="btn btn-large waves-effect waves-light add-blog">Add a new blog</button>
            <button class="btn btn-large waves-effect waves-light logout">Logout</button>
        </script>
        <script id="add-blog-template" type="text/x-handlebars-template">
                    <h2>Add a new blog</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title">Title</label>
                  </div>
                      
              </div>
                 <div class="row">
                 <input type="button" value="B" onclick="bold()">
            <input type="button" value="I" onclick="Italic()">
            <input type="button" value="U" onclick="underline()">
            <input type="button" value="Size" onclick="fontsize()">
            <input type="button" value="Color" onclick="fontcolor()">
            <input type="button" value="Highlight" onclick="highlight()">
            <input type="button" value="Link" onclick="link()">
            <input type="button" value="unlink" onclick="unlink()">
                  <div class="input-field col s12">
                      <textarea id="content" type="content" name="content"></textarea>
                      <label for="content">Content</label>
              
                  </div> 
                      
              </div>
                  <div class="row">
                  <div class="input-field col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                      </p>                     
                  </div>
                      
              </div>
                   
          </form>
      </div>
        </script>
     
        
        
    </body>
</html>
